.symbol-table {
    width: 60%;
}

.symbol-table-title {
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #48727d;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 12px 0;
}

.body {
    background-color: #395b64;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: auto;
    max-height: 90%;
}

.headers{
    display: contents;
}

.header {
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 0;
    position: sticky;
    text-transform: capitalize;
    background-color: #48727d !important;
}


.row {
    display: flex;
    flex-direction: row;
    width: calc(13 * 80px);
}

.row:hover > div{
    background-color: #3d6069;
}

.element {
    font-family: 'Courier New', Courier, monospace;
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 24px;
    width: 80px;
}

.element:nth-last-child(-n+12) {
    border-bottom: none !important;
}
