body {
    background-color: #2B4670;
    margin: 0;
}

.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin: 0 12px;
    height: 90vh;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60%;
    column-gap: 12px;
}

.buttons {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 6px;
    margin-bottom: 12px;
}